<%=  render "Shared/page_title", title: "All Recipes" %>
<h1><%= link_to "New Recipe", new_recipe_path, class: "btn btn-primary" %></h1>

<hr/>

<% @recipes.each do |recipe| %>

  <div class="row">
    
    <div class="col-md-2">
      <section class="chef_info center">
        <%= link_to (gravatar_for recipe.chef, size:100), chef_path(recipe.chef) %>
        <h5>Chef Name: <%= recipe.chef.username %></h5>
      </section>
    </div>
    
    <div class="col-lg-8 well">
      <div class="pull-left">
        <h4><%= link_to recipe.name, recipe_path(recipe) %></h4>
        <p><%= recipe.summary %></p>
        <p>
          <span class="quiet"><small>Created: <%= time_ago_in_words(recipe.created_at) %> ago, </small></span>
          <span class="quiet"><small>Updated: <%= time_ago_in_words(recipe.updated_at) %> ago</small></span>
        </p>

        <%= link_to like_recipe_path(recipe, like: true), method: :post do %>
          <i class="glyphicon glyphicon-thumbs-up"></i>
        <% end %> &nbsp <%= recipe.thumbs_up_total %> &nbsp
        <%= link_to like_recipe_path(recipe, like: false), method: :post do %>
          <i class="glyphicon glyphicon-thumbs-down"></i>
        <% end %> &nbsp <%= recipe.thumbs_down_total %>
        
      </div>
      
      <div>
      <%= image_tag(recipe.picture.url, size:"250x150", class:"gravatar pull-right") if recipe.picture? %>
      </div>
      
    </div>
    
  </div>
  
  <hr/>

<% end %>
    
<div class="center">
  <%= will_paginate %>
</div>